.root {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(248,249,251);
    font-size: 13px;
    color: rgb(128, 144, 163);
}

.left {

}

.right {

}

.boldText {
    font-weight: bold;
    margin-right: 30px;
}