@import '../../styles/fonts';
@import '../../styles/colors';

.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  .caption-1basic700left();

  .boldText {
    .caption-2basic700left();
    margin-right: 44px;
  }

  .btn {
    .body-1basic900centered();
    cursor: pointer;
    width: 168px;
    height: 32px;
    border-radius: 4px;
    background-color: @basic50;
    border: none;
    margin-left: 16px;

    &:hover {
      background-color: @accent50;
    }

    & > :global(.copy-12-basic-700) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8.5px
      }


    &[disabled], &[disabled]:hover {
      cursor: not-allowed;
      color: #bcbcbc;
      background-color: @basic50;
    }
  }

  .btn-primary {

    .btn;
    width: 216px;
    height: 32px;
    background-color: @submit400;
    .body-2whitecentered();

    &:hover {
      background-color: @submit300;
    }

    &[disabled], &[disabled]:hover {
      cursor: not-allowed;
      color: @white;
      background-color: @submit100;
    }

  }

}
