.lineStyle {
    display: flex;
    padding: 0.3rem 0.3rem 0.3rem 1.4rem;
    color: #4CAF50
}

.flex {
    display: flex;
}

.docStyle {
    display: flex;
    padding: 0.3rem 0.3rem 0.3rem 1.4rem;
    color: #6dd3ff
}

.hov{
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}

.hov:hover {
    border-bottom: 1px solid #4CAF50;
}

.tooltipText{
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    /*color: #263241;*/
    padding-bottom: 9px;
}
