@import "../../../../styles/globals";

.root {
  display: flex;
  align-items: center;
  //background: var(--replsPanel-replInput-background);
  border-top: 1px solid var(--replsPanel-replInput-border);
  width: 100%;
  background: var(--replsPanel-replInput-background);
  padding: 6px 16px;

  &:before {
    .repl-input-prompt();
    //position: absolute;
    background-size: contain;
    content: '';
    width: 12px;
    height: 12px;
  }

}

//padding-left: 16px;
//padding-right: 16px;
//
//
//&:before {
//  left: 16px;
//}
