<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic" rel="stylesheet">
    <base href="/">
    <link rel="stylesheet" href="./assets/fonts/roboto.css">

    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: var(--app-background);
        }

        @font-face {
            font-family: Monaco;
            src: url("./assets/fonts/monaco.ttf");
        }

        body {
            font-family: Monaco;
            font-size: 12px
        }
    </style>
    <meta charset="UTF-8"/>
    <title>WAVES IDE</title>
</head>

<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR7HQLF" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>

<div id="container" style="width: 100%; height: 100%"></div>
<% if (htmlWebpackPlugin.options.production) { %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter50915843 = new Ya.Metrika2({
                    id: 50915843,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/50915843" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75283398-8"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-75283398-8');
</script>

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push(
        {'gtm.start': new Date().getTime(), event: 'gtm.js'}
    );
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KR7HQLF');</script>

<% }%>
<script src="editor.bundle.js"></script>
<!--<script src="ride-language.bundle.js"></script>-->
</body>
</html>
