@import "../../../styles/globals";

.root {
  display: flex;
  flex-direction: column;
  //max-height: 80%;

  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  .content {
    & > :global(.ps__rail-y) {
      right: 3px !important;
    }

    max-height: 580px;
    padding: 0 48px 0 48px;

  }


  //---------- section ----------
  .section {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section_head {
    .settings-dialog-section_head-font();
  }


  .section_item_title {
    display: flex;
    align-items: flex-end;
    padding: 24px 0 12px;
    .settings-dialog-section_item_title-font();
  }

  .label_url {
    margin: 0 16px 0 36px;
    width: 362px;
  }

  .label_byte {
    width: 80px;
  }


  .section_item_body {
    display: flex;
    align-items: center;
    position: relative;
  }


  .addNodeBtn {
    margin-top: 24px;
    margin-bottom: 48px;
    width: 522px;
    height: 42px;
  }

  .inputUrl {
    width: 362px;
    height: 42px;
    border-radius: 4px;
    border: solid 1px var(--input-border);
    .input-font();
    padding-left: 16px;
    margin-right: 16px;
    outline: none;
    background: var(--dialog-input-background);
    &:disabled {
      background-color: var(--input-disabled-background);
      cursor: not-allowed;
    }

    &:focus {
      border: solid 1px var(--input-focus-border);
    }
  }

  .inputByte {
    .inputUrl;
    width: 80px;
    height: 42px;
  }

  .section_item_warning {
    .section_item_title;
    display: none;
    position: absolute;
    font-family: Avenir-Roman, sans-serif;
    font-size: 13px;
    line-height: 1.23;
    color: var(--settings-dialog-section_item_warning-font-color);
    padding: 0;
    top: 58px;

    & > .label_url, & > .label_byte {
      color: var(--settings-dialog-section_item_warning-label-color);
    }
  }

  .section_item {

    &__invalid_URL, &__invalid_byte {
      padding-bottom: 32px;

      .section_item_warning {
        display: flex;
      }

    }

    &__invalid_URL > .section_item_body {
      & > .inputUrl {
        border: solid 1px var(--invalid_URL-border);
      }

      & > .section_item_warning > .label_url {
        color: var(--settings-dialog-section_item_warning-font-color);
      }
    }


    &__invalid_byte > .section_item_body {
      & > .inputByte {
        border: solid 1px var(--invalid_URL-border);
      }

      & > .section_item_warning > .label_byte {
        color: var(--settings-dialog-section_item_warning-font-color);
      }
    }


  }

  .on {
    cursor: pointer;
    .checkOn();
    margin-right: 16px;
  }

  .off {
    cursor: pointer;
    .checkOff();
    margin-right: 16px;
  }

  .info {
    cursor: pointer;
    .info();

    &:hover {
      .info-hover();
    }
  }

  .delete {
    .delete();
    cursor: pointer;
  }

  .ok {
    width: 128px;
  }
}


//---------- tooltip ----------


.tooltip_title {
  .settings-tooltip_title-font();
  padding-bottom: 9px;
}

.tooltip_text {
  .settings-tooltip_text-font();

}

.tooltip_more {
  .settings-tooltip_more-font();
  display: block;
  margin-top: 21px;
  text-decoration: none;

}


