@import (reference) "~@src/styles/globals";

.root {
  scrollbar-width: thin;
  scrollbar-color: @basic300 transparent;
}

.root::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.root::-webkit-scrollbar-thumb {
  background: @basic300;
  border-radius: 8px;
}

.root::-webkit-scrollbar-thumb:hover {
  background: @basic600;
}

[data-theme="dark"] {
  .root {
    scrollbar-color: @disabled400 transparent;
  }

  .root::-webkit-scrollbar-thumb {
    background: @disabled400;
  }

  .root::-webkit-scrollbar-thumb:hover {
    background: @disabled100;
  }
}
