@import (reference) "../../styles/colors";

.workPanel {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid @basic200;
}

.sidePanel_header {
  height: 64px;
  border-bottom: 1px solid @basic200;
}

.sidePanel_content {
  display: flex;
  flex: 1;
}

.sidePanel_footer {
  height: 52px;
  background: @basic50;
}

.mainPanel {
  display: flex;
  flex: 1 1 0;
  min-width: 150px;
  flex-direction: column;
}

.mainPanel_header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  border-bottom: 1px solid @basic300;
}
.mainPanel_tabs {
  flex: 1;
  overflow: hidden;
}

.mainPanel_account {
  flex: 0 0 246px;
  background-color: @white;
  border-left: 1px solid @basic300;
  border-right: 1px solid @basic300;
  display: flex;
  justify-content: center;
  align-items: center
}

.mainPanel_settings {
  width: 50px;
}

.mainPanel_content {
  display: flex;
  flex: 1;
}

.mainPanel_footer {
  height: 52px;
  background: @basic50;
}
