@import "./colors.less";
@import url('../assets/fonts/roboto.css');

.body-3basic500left() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: @basic500;
}

.body-3basic700left() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: @basic700;
}

.body-2basic500left() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: @basic500;
}

.body-2basic700left() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: @basic700;
}

.body-2basic900left() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: @basic900;
}

.body-2whitecentered() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: @white;
}

.body-2whiteleft() {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: @white;
}

.body-1basic600left() {
  font-family: Roboto;
  font-size: 14px;
  color: @basic600;
}

.body-1basic700left() {
  font-family: Roboto;
  font-size: 14px;
  color: @basic700;
}

.body-1basic900centered() {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: @basic900;
}

.body-1basic900left() {
  font-family: Roboto;
  font-size: 14px;
  color: @basic900;
}

.body-1whiteleft() {
  font-family: Roboto;
  font-size: 14px;
  color: @white;
}

.code-1basic900left() {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.86;
  color: @basic900;
}

.code-1submit400left() {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.86;
  color: @submit400;
}

.code-2basic500right() {
  font-family: Roboto;
  font-size: 14px;
  text-align: right;
  color: @basic500;
}

.caption-2basic500left() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: @basic500;
}

.caption-2basic500right() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: @basic500;
}

.caption-2basic600left() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: @basic600;
}

.caption-2basic600right() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: @basic600;
}

.caption-2basic700centered() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: @basic700;
}

.caption-2basic700left() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: @basic700;
}

.caption-2whitecentered() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: @white;
}

.caption-1basic700left() {
  font-family: Roboto;
  font-size: 12px;
  color: @basic700;
}

.caption-3basic500left() {
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: @basic500;
}
