:global(.rc-notification-notice-content) {
  max-width: 90vw;
  word-wrap: break-word;
}

:global {

  :root {
    --back: #000;

    -saveIcn: #123123
  };

  [data-theme="dark"] {
    --back: red;
    -saveIcn: #123123

  };

}

