@import "./colors";

:global(.rc-notification-notice-content) {
  max-width: 90vw;
  word-wrap: break-word;
}

:global {

  :root {
    //app
    --app-background: @basic50;

    //workPanel
    --workPanel-mainPanel_account_background: @basic50;
    --workPanel-mainPanel_account_border: @basic200;
    --workPanel-mainPanel_settings_background: @basic50;
    --workPanel-mainPanel_settings_background_hover: @accent50;
    --workPanel-mmainPanel_footer_background: @basic50;
    --workPanel-mmainPanel_footer_border: transparent;
    --workPanel-bottomBorder_background: @basic200;

    //side panel
    --sidePanel_border: @basic200;
    --sidePanel-header_background: @white;
    --sidePanel-header_border: @basic200;
    --sidePanel-content_background: @white;
    --sidePanel-footer_background: @basic50;
    --sidePanel-footer_border: transparent;
    --logo-url: url("../assets/img/waveside-black-24.svg") center no-repeat;
    --arrowdown-url: url("../assets/img/arrowdown-12-basic-700.svg") center no-repeat;

    //explorer
    --explorer-background: @white;
    --explorer-menu-font_color: @basic700;
    --explorer-fileMenu-font_color: @basic700;
    --explorer-fileMenu-background: @basic50;
    --explorer-item-font_color: @basic900;
    --explorer-item-hover_color: @basic50;
    --explorer-item-input-border: @submit400;
    --explorer-selected-item-input-background: @submit400;
    --explorer-selected-item-background: @submit400;
    --explorer-selected-item-font_color: @white;
    --explorer-folder-font_color: @basic900;
    --folder-url: url("../assets/img/folder-16-basic-600.svg") center no-repeat;
    --librarydoc-url: url("../assets/img/systemdoc-16-basic-600.svg") center no-repeat; //fixme
    --librarydoc-active-in-tab-url: url("../assets/img/systemdoc-16-submit-400.svg") center no-repeat; //fixme
    --librarydoc-active-in-explorer-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat; //fixme
    --accountdoc-url: url("../assets/img/accountdoc-16-basic-600.svg") center no-repeat;
    --accountdoc-active-in-tab-url: url("../assets/img/accountdoc-16-submit-400.svg") center no-repeat;
    --accountdoc-active-in-explorer-url: url("../assets/img/accountdoc-16-white.svg") center no-repeat;
    --assetdoc-url: url("../assets/img/assetdoc-diamond-16-basic-600.svg") center no-repeat;
    --assetdoc-active-in-tab-url: url("../assets/img/assetdoc-diamond-16-submit-400.svg") center no-repeat;
    --assetdoc-active-in-explorer-url: url("../assets/img/assetdoc-diamond-16-white.svg") center no-repeat;
    --dappdoc-url: url("../assets/img/dapps-16-basic-600.svg") center no-repeat;
    --dappdoc-active-in-tab-url: url("../assets/img/Dapps-16-Submit400.svg") center no-repeat;
    --dappdoc-active-in-explorer-url: url("../assets/img/Dapps-16-White.svg") center no-repeat;
    --testdoc-url: url("../assets/img/test-16-basic-600.svg") center no-repeat;
    --testdoc-active-in-tab-url: url("../assets/img/Test-16-Submit400.svg") center no-repeat;
    --testdoc-active-in-explorer-url: url("../assets/img/Test-16-White.svg") center no-repeat;
    --systemdoc-url: url("../assets/img/systemdoc-16-basic-600.svg") center no-repeat;
    --systemdoc-in-explorer-url: url("../assets/img/systemdoc-16-basic-600.svg") center no-repeat;
    --systemdoc-active-in-tab-url: url("../assets/img/systemdoc-16-submit-400.svg") center no-repeat;
    --systemdoc-active-in-explorer-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat;
    --delete-url: url("../assets/img/delete-12-basic-600.svg") center no-repeat;
    --delete-white-url: url("../assets/img/delete-12-white.svg") center no-repeat;
    --download-url: url("../assets/img/download-12-basic-600.svg") center no-repeat;
    --download-white-url: url("../assets/img/download-12-white.svg") center no-repeat;
    --edit-url: url("../assets/img/edit-12-basic-600.svg") center no-repeat;
    --edit-white-url: url("../assets/img/edit-12-white.svg") center no-repeat;

    //NewFileBtn
    --add24-url: url("../assets/img/add-24.svg") center no-repeat;
    --download24-url: url("../assets/img/download-all-24.svg") center no-repeat;
    --sign24-url: url("../assets/img/sign-24.svg") center no-repeat;
    --add16-url: url("../assets/img/add-16-basic-600.svg") center no-repeat;

    //Dropdown
    --dropdown-background: @white;
    --dropdown-background-hover: @basic50;

    //tabs
    --close-url: url("../assets/img/close-12-basic-600.svg") center no-repeat;
    --list-url: url("../assets/img/list-12-basic-600.svg") center no-repeat;
    --settings-url: url("../assets/img/settings-24-basic-600.svg") center no-repeat;
    --tabs-background: @basic50;
    --tabs-active-tab-border-top: 2px solid @submit400;
    --tabs-active-tab-border-right: 1px solid @basic300;
    --tabs-active-tab-border-bottom: 2px solid @white;
    --tabs-active-tab-border-left: 1px solid @basic300;
    --tabs-active-tab-background: @white;
    --tabs-active-tab-font-color: @basic900;
    --tabs-tab-text-font-color: @basic900;
    --tabs-hidden-tabs-btn-font-color: @basic700;
    --tabs-hidden-tabs-btn-background: @basic200;

    //editor top bar
    --editorTopBar-search-url: url("../assets/img/search-16-basic-500.svg") center no-repeat;
    --editorTopBar-font-url: url("../assets/img/font-16-basic-500.svg") center no-repeat;
    --editorTopBar-theme-url: url("../assets/img/darktheme-16-basic-500.svg") center no-repeat;
    --editorTopBar-search-hover-url: url("../assets/img/search-16-basic-600.svg") center no-repeat;
    --editorTopBar-font-hover-url: url("../assets/img/font-16-basic-600.svg") center no-repeat;
    --editorTopBar-theme-hover-url: url("../assets/img/darktheme-16-basic-600.svg") center no-repeat;

    //welcomepage
    --welcomepage-background: @white;
    --welcomepage-font-color: @basic900;
    --welcomepage-h0-font-color: @basic900;
    --welcomepage-h3-font-color: @basic900;
    --welcomepage-link-font-color: @submit400;
    --welcomepage-smalllink-font-color: @submit400;
    --welcomepage-text-font-color: @basic700;

    //mainPanelFooter
    --mainPanelFooter-font-color: @basic700;

    //Button
    --button-drop-block-background: @submit400;
    --button-drop-block-hover-background: @submit300;
    --button-drop-block-disabled-background: @submit100;
    --button-drop-block-border: @white;
    --button-drop-block-color: @white;
    --button-btn-background: @white;
    --button-action-white-color: @basic900;
    --button-action-blue-background: @submit400;
    --button-action-blue-hover-background: @submit300;
    --button-action-blue-disabled-background: @submit100;
    --button-action-red-background: @error200;
    --button-action-red-hover-background: #d1383c;
    --button-action-red-disabled-background: @error100;
    --button-action-white-background: @basic50;
    --button-action-white-hover-background: @basic50;
    --button-action-white-disabled-background: @basic50;
    --button-add-block-border: #d3d9e8;
    --button-add-block-hover-border: @submit400;
    --button-action-gray-background: @basic50;
    --button-action-gray-hover-background: @accent50;
    --button-action-gray-disabled-background: @basic50;
    --button-btn-color: @basic900;
    --button-action-blue-font-color: @white;
    --share-url: url("../assets/img/share-18-basic-700.svg") center no-repeat;
    --copy18-url: url("../assets/img/copy-18-basic-700.svg") center no-repeat;

    //Accounts
    --accounts-opened-background: @white;
    --accounts-body-background: @white;
    --accounts-body-border: @basic300;
    --accounts-buttonSet-border: @basic200;
    --accounts-buttonSet_item-font-color: @submit300;
    --accounts-buttonSet_icon-background: @basic50;

    --accounts-accountHead-nameText-font-color: @basic900;
    --accounts-accountHead-wavesText-font-color: @basic900;
    --accounts-accountHead-wavesBalance-font-color: @submit400;
    --scripteacc-url: url("../assets/img/scripteacc-16-basic-700.svg") center no-repeat;
    --login-url: url("../assets/img/login-32-basic-700.svg") center no-repeat;
    --dropdownArrow-url: url("../assets/img/dropdown-12-basic-600.svg") center no-repeat;

    --accounts-accountInfo-infoItem-font-color: @basic900;
    --accounts-accountInfo-infoTitle-font-color: @basic500;
    --accounts-accountInfo-seed-font-color: @basic900;
    --accounts-accountInfo-seed-border: @basic200;
    --accounts-accountInfo-seed-focus-border: @submit400;
    --copy12-url: url("../assets/img/copy-12-basic-700.svg") center no-repeat;

    --accounts-accountItem-border: @basic200;
    --on20-url: url("../assets/img/on-20-submit-400.svg") center no-repeat;
    --off20-url: url("../assets/img/off-20-basic-300.svg") center no-repeat;
    --accounts-accountItem-itemName-font-color: @basic900;
    --accounts-accountItem-labelEditor-focus-border: @submit400;
    --accounts-accountItem-hover-background: @basic50;

    //footer
    --footer-background: @basic50;
    --footer-font-color: @basic500;
    --footer-hover-font-color: @basic700;
    --footer-border-color: transparent;

    //hotkeys
    --hotkeys-background: @white;
    --hotkeys-font-color: @basic900;
    --hotkeys-title-font-color: @basic900;
    --hotkeys-row-font-color: @basic900;
    --hotkeys-row-background: @basic50;
    --hotkeys-key-font-color: @basic900;
    --hotkeys-key-background: @basic100;
    --hotkeys-shadow: @basic200;
    --hotkeys-row_title-background: @basic500;

    //replsPanel
    --replsPanel-background: @white;
    --replsPanel-rc-tabs-bar-border: @basic200;
    --replsPanel-replTab_name-font-color: @basic500;
    --replsPanel-replTab_label-font-color: @basic700;
    --replsPanel-replTab_name-font-active-color: @basic700;
    --replsPanel-replTab_label-font-active-color: @white;
    --replsPanel-replTab_label-background: #ecf0f4;
    --replsPanel-replTab_label-active-background: @submit400;
    --replsPanel-replTab_label_error-background: @error200;
    --replsPanel-replInput-background: @white;
    --replsPanel-replInput-border: @basic200;

    --compilation-background: @white;
    --compilation-success-font-color: @success500;
    --compilation-error-font-color: @error500;

    --tests-background: @white;
    --tests-tests_toolbar-background: @basic50;
    --tests-tests_explorer-background: @white;
    --tests-border: @basic200;
    --tests-tests_passedTitle-font-color: @basic700;
    --tests-tests_caption-font-color: @basic700;
    --tests-tests_caption-selected-font-color: @white;
    --tests-tests_tests_explorerTitle-font-color: @basic900;
    --tests-rc-menu-submenu-title-background: @basic50;
    --tests-rc-menu-submenu-title-font-color: @basic900;
    --tests-rc-menu-item-active-background: @basic50;
    --tests_start-url: url("../assets/img/start-18-submit-400.svg") center no-repeat;
    --tests_start_disabled-url: url("../assets/img/start-18-basic-600.svg") center no-repeat;
    --tests_stop-url: url("../assets/img/stop-12-error-400.svg") center no-repeat;
    --tests_stop_disabled-url: url("../assets/img/stop-12-basic-600.svg") center no-repeat;
    --tests_default-url: url("../assets/img/systemdoc-16-basic-600.svg") center no-repeat;
    --tests_progress-url: url("../assets/img/progress-16-warning.svg") center no-repeat;
    --tests_success-url: url("../assets/img/ckeck-16-success-500.svg") center no-repeat;
    --tests_error-url: url("../assets/img/progress-16-error-400.svg") center no-repeat;

    --help-rc-collapse-item-border: @basic200;
    --help-line-font-color: @basic900;
    --help-rc-collapse-header-font-color: @basic600;
    --help-arg_body-border: @basic200;
    --help-arg_title-color: @basic900;
    --help-arg_typeField-color: @basic100;
    --help-arg_link-color: @submit400;
    --help-oval-color: @basic600;
    --help-arrowright600-url: url("../assets/img/arrowright-12-basic-600.svg") center no-repeat;
    --help-arrowright700-url: url("../assets/img/arrowright-12-basic-700.svg") center no-repeat;
    --help-arg_typenameFont-font-color: @basic700;
    --help-arg_typeItem-font-color: @basic900;
    --help-docFont-font-color: @basic500;

    //md
    --md-background: @white;
    --md-h1-font-color: @basic900;
    --md-h2-h3-h4-font-color: @basic900;
    --md-ul-ol-p-font-color: @basic700;

    //scrollbar
    --scrollbar-ps__thumb-background: @basic300;
    --scrollbar-ps__thumb-hover-background: @basic600;

    //dialog
    --dialog-background: @white;
    --dialog-input-background: @white;
    --dialog-border: @basic200;
    --dialog-title-font-color: @basic900;

    --settings-dialog-inputTimeout-border: @basic200;
    --settings-dialog-inputTimeout-font-color: @basic900;
    --settings-dialog-inputTimeout-disabled-background: @basic50;
    --settings-dialog-inputTimeout-focus-border: @submit400;
    --settings-dialog-section_head-font-color: @basic900;
    --settings-dialog-section_item_title-font-color: @basic500;
    --settings-dialog-inputUrl-border: @basic200;
    --settings-dialog-inputUrl-font-color: @basic900;
    --settings-dialog-inputUrl-disabled-background: @basic50;
    --settings-dialog-inputUrl-focus-border: @submit400;
    --settings-dialog-section_item_warning-font-color: #eb4d4b;
    --settings-dialog-section_item_warning-label-color: @white;
    --settings-dialog-section_item__invalid_URL-border: @error100;
    --info-url: url("../assets/img/info-default-12-basic-600.svg") center no-repeat;
    --info-hover-url: url("../assets/img/info-active-12-submit-400.svg") center no-repeat;
    --checkOn-url: url("../assets/img/on-20-submit-400.svg") center no-repeat;
    --checkOff-url: url("../assets/img/off-20-basic-300.svg") center no-repeat;
    --settings-tooltip_title-font-color: @basic900;
    --settings-tooltip_text-font-color: @basic500;
    --settings-tooltip_more-font-color: @submit300;

    //tooltip
    --tooltip-background: @basic50;
    --tooltip-rc-tooltip-inner-background: @white;
    --tooltip-rc-tooltip-arrow-background: @submit300;

    //importAccounts
    --importAccounts-input-border: @basic200;
    --importAccounts-input-font-color: @basic900;
    --importAccounts-input-disabled-background: @basic50;
    --importAccounts-input-focus-border: @submit400;
    --importAccounts-input_ok-border: @success100;

    //TransactionSigning
    --transactionSigning-codeEditor-background: #F8F9FB;
    --transactionSigning-codeEditor-border: @basic200;
    --transactionSigning-signing_button-border: @submit400;
    --transactionSigning-signing_button-disabled-border: @submit100;
    --transactionSigning-signing_button-added-color: @success400;
    --transactionSigning-signing_loading-font-color: @basic600;
    --transactionSigning-title-blue-font-color: @submit400;
    --transactionSigning-plus-url: url("../assets/img/plus-12-submit-400.svg") center no-repeat;
    --transactionSigning-check-url: url("../assets/img/check-12-success-400.svg") center no-repeat;

    //others
    --testTree-rc-tree-font-color: @submit300;
    --testTree-rc-tree-node-selected-background: @white;
    --testTree-rc-tree-node-content-wrapper-hover-background: @basic50;
    --testTree-codeArrow-url: url('../assets/img/codearrow-12-submit-400.svg') center no-repeat;
    --replTab_label-font-color: @white;
    --close24-url: url('../assets/img/close-24-basic-300.svg') center no-repeat;
    --avatar-selected-border: @submit400;
    --explorer-input-selected-background: @white;
    --resizeindicator-x-url: url('../assets/img/resizeindicator-x-14-basic-600.svg') center no-repeat;
    --resizeindicator-y-url: url('../assets/img/resizeindicator-y-14-basic-600.svg') center no-repeat;
  }

  [data-theme="dark"] {
    //app
    --app-background: @black-four;

    //workPanel
    --workPanel-mainPanel_account_background: @black-four;
    --workPanel-mainPanel_account_border: @black-two;
    --workPanel-mainPanel_settings_background: @black-four;
    --workPanel-mainPanel_settings_background_hover: @black-five;
    --workPanel-mmainPanel_footer_background: @black-five;
    --workPanel-mmainPanel_footer_border: @disabled700;
    --workPanel-bottomBorder_background: @black-two;

    //side panel
    --sidePanel_border: @black-two;
    --sidePanel-header_background: @black-four;
    --sidePanel-header_border: @black-four;
    --sidePanel-content_background: @black-four;
    --sidePanel-footer_background: @black-four;
    --sidePanel-footer_border: @black-two;
    --logo-url: url("../assets/img/waveside-white-24.svg") center no-repeat;
    --arrowdown-url: url("../assets/img/arrowdown-12-disabled-700.svg") center no-repeat;

    //explorer
    --explorer-background: @black-four;
    --explorer-menu-font_color: @disabled500;
    --explorer-fileMenu-font_color: @disabled50;
    --explorer-fileMenu-background: @black-three;
    --explorer-item-font_color: @disabled500;
    --explorer-item-hover_color: @black-three;
    --explorer-item-input-border: @submit300;
    --explorer-selected-item-input-background: @submit300;
    --explorer-selected-item-background: @submit300;
    --explorer-selected-item-font_color: @white;
    --explorer-folder-font_color: @disabled100;
    --folder-url: url("../assets/img/folder-16-disabled-600.svg") center no-repeat;
    --librarydoc-url: url("../assets/img/systemdoc-16-disabled-700.svg") center no-repeat; //fixme
    --librarydoc-active-in-tab-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat; //fixme
    --librarydoc-active-in-explorer-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat; //fixme
    --accountdoc-url: url("../assets/img/accountdoc-16-disabled-700.svg") center no-repeat;
    --accountdoc-active-in-tab-url: url("../assets/img/accountdoc-16-white.svg") center no-repeat;
    --accountdoc-active-in-explorer-url: url("../assets/img/accountdoc-16-white.svg") center no-repeat;
    --assetdoc-url: url("../assets/img/Assetdoc-diamond-16-Disabled700.svg") center no-repeat;
    --assetdoc-active-in-tab-url: url("../assets/img/assetdoc-diamond-16-white.svg") center no-repeat;
    --assetdoc-active-in-explorer-url: url("../assets/img/assetdoc-diamond-16-white.svg") center no-repeat;
    --dappdoc-url: url("../assets/img/Dapps-16-Disabled700.svg") center no-repeat;
    --dappdoc-active-in-tab-url: url("../assets/img/Dapps-16-White.svg") center no-repeat;
    --dappdoc-active-in-explorer-url: url("../assets/img/Dapps-16-White.svg") center no-repeat;
    --testdoc-url: url("../assets/img/Test-16-Disabled700.svg") center no-repeat;
    --testdoc-active-in-tab-url: url("../assets/img/Test-16-White.svg") center no-repeat;
    --testdoc-active-in-explorer-url: url("../assets/img/Test-16-White.svg") center no-repeat;
    --systemdoc-url: url("../assets/img/systemdoc-16-disabled-700.svg") center no-repeat;
    --systemdoc-in-explorer-url: url("../assets/img/systemdoc-16-submit-300.svg") center no-repeat;
    --systemdoc-active-in-tab-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat;
    --systemdoc-active-in-explorer-url: url("../assets/img/systemdoc-16-white.svg") center no-repeat;
    --delete-url: url("../assets/img/delete-12-disabled-600.svg") center no-repeat;
    --delete-white-url: url("../assets/img/delete-12-white.svg") center no-repeat;
    --download-url: url("../assets/img/Download-12-Disabled500.svg") center no-repeat;
    --download-white-url: url("../assets/img/download-12-white.svg") center no-repeat;
    --edit-url: url("../assets/img/edit-12-disabled-500.svg") center no-repeat;
    --edit-white-url: url("../assets/img/edit-12-white.svg") center no-repeat;

    //NewFileBtn
    --add24-url: url("../assets/img/add-24-disabled-700.svg") center no-repeat;
    --download24-url: url("../assets/img/download-all-24-disabled-700.svg") center no-repeat;
    --sign24-url: url("../assets/img/sign-24-disabled-700.svg") center no-repeat;
    --add16-url: url("../assets/img/add-16-disabled-400.svg") center no-repeat;

    //Dropdown
    --dropdown-background: @black-four;
    --dropdown-background-hover: @black-three;

    //tabs
    --close-url: url("../assets/img/close-12-white.svg") center no-repeat;
    --list-url: url("../assets/img/list-12-disabled-400.svg") center no-repeat;
    --settings-url: url("../assets/img/settings-24-disabled-700.svg") center no-repeat;
    --tabs-background: @black-four;
    --tabs-active-tab-border-top: 1px solid @submit300;
    --tabs-active-tab-border-right: 1px solid transparent;
    --tabs-active-tab-border-bottom: 2px solid transparent;
    --tabs-active-tab-border-left: 1px solid transparent;
    --tabs-active-tab-background: @black-five;
    --tabs-active-tab-font-color: @white;
    --tabs-tab-text-font-color: @disabled500;
    --tabs-hidden-tabs-btn-font-color: @disabled100;
    --tabs-hidden-tabs-btn-background: @greyish-brown;

    //editor top bar
    --editorTopBar-search-url: url("../assets/img/search-16-disabled-700.svg") center no-repeat;
    --editorTopBar-font-url: url("../assets/img/font-16-disabled-700.svg") center no-repeat;
    --editorTopBar-theme-url: url("../assets/img/darktheme-16-warning-400.svg") center no-repeat;
    --editorTopBar-search-hover-url: url("../assets/img/search-16-disabled-700.svg") center no-repeat;
    --editorTopBar-font-hover-url: url("../assets/img/font-16-disabled-700.svg") center no-repeat;
    --editorTopBar-theme-hover-url: url("../assets/img/darktheme-16-warning-400.svg") center no-repeat;

    //welcomepage
    --welcomepage-background: @black-five;
    --welcomepage-font-color: @white;
    --welcomepage-h0-font-color: @white;
    --welcomepage-h3-font-color: @white;
    --welcomepage-link-font-color: @submit300;
    --welcomepage-smalllink-font-color: @submit300;
    --welcomepage-text-font-color: @disabled500;


    //mainPanelFooter
    --mainPanelFooter-font-color: @disabled500;

    //Button
    --button-btn-color: @white;
    --button-drop-block-background: @submit300;
    --button-drop-block-hover-background: @submit300;
    --button-drop-block-disabled-background: @submit100;
    --button-drop-block-border: @white;
    --button-drop-block-color: @white;
    --button-btn-background: @white;
    --button-action-blue-background: @submit300;
    --button-action-blue-hover-background: @submit300;
    --button-action-blue-disabled-background: @submit100;
    --button-action-red-background: @error200;
    --button-action-red-hover-background: #d1383c;
    --button-action-red-disabled-background: @error100;
    --button-action-white-background: transparent;
    --button-action-white-color: @white;
    --button-action-white-hover-background: transparent;
    --button-action-white-disabled-background: transparent;
    --button-add-block-border: @disabled500;
    --button-add-block-hover-border: @submit300;
    --button-action-gray-background: @black-five;
    --button-action-gray-hover-background: @black-five;
    --button-action-gray-disabled-background: @black-five;
    --button-btn-font-color: @disabled500;
    --button-action-blue-font-color: @white;
    --share-url: url("../assets/img/Share-18-Disabled700.svg") center no-repeat;
    --copy18-url: url("../assets/img/copy-18-disabled-700.svg") center no-repeat;


    //Accounts
    --accounts-body-background: @black-three;
    --accounts-body-border: @black-two;
    --accounts-buttonSet-border: @black-two;
    --accounts-buttonSet_item-font-color: @submit300;
    --accounts-buttonSet_icon-background: @disabled700;

    --accounts-accountHead-nameText-font-color: @white;
    --accounts-accountHead-wavesText-font-color: @disabled500;
    --accounts-accountHead-wavesBalance-font-color: @submit300;
    --scripteacc-url: url("../assets/img/scripteacc-16-basic-700.svg") center no-repeat;
    --login-url: url("../assets/img/login-32-basic-700.svg") center no-repeat;
    --dropdownArrow-url: url("../assets/img/dropdown-12-disabled-700.svg") center no-repeat;

    --accounts-accountInfo-infoItem-font-color: @white;
    --accounts-accountInfo-infoTitle-font-color: @disabled500;
    --accounts-accountInfo-seed-font-color: @white;
    --accounts-accountInfo-seed-background: @disabled700;
    --accounts-accountInfo-seed-border: @disabled500;
    --accounts-accountInfo-seed-focus-border: @submit300;
    --copy12-url: url("../assets/img/copy-12-disabled-700.svg") center no-repeat;

    --accounts-accountItem-border: @black-two;
    --on20-url: url("../assets/img/on-20-submit-300.svg") center no-repeat;
    --off20-url: url("../assets/img/off-20-disabled-900.svg") center no-repeat;
    --accounts-accountItem-itemName-font-color: @white;
    --accounts-accountItem-labelEditor-focus-border: @submit300;
    --accounts-accountItem-hover-background: @black-four;

    //footer
    --footer-background: @black-three;
    --footer-font-color: @disabled500;
    --footer-hover-font-color: @disabled400;
    --footer-border-color: @black-two;

    //hotkeys
    --hotkeys-background: @black-five;
    --hotkeys-font-color: @white;
    --hotkeys-title-font-color: @white;
    --hotkeys-row-font-color: @white;
    --hotkeys-row-background: @black-four;
    --hotkeys-key-font-color: @white;
    --hotkeys-key-background: @disabled700;
    --hotkeys-shadow: @black-two;
    --hotkeys-row_title: @disabled500;

    //replsPanel
    --replsPanel-background: @black-three;
    --replsPanel-rc-tabs-bar-border: @black-two;
    --replsPanel-replTab_name-font-color: @disabled500;
    --replsPanel-replTab_label-font-color: @disabled700;
    --replsPanel-replTab_name-font-active-color: @white;
    --replsPanel-replTab_label-font-active-color: @white;
    --replsPanel-replTab_label-background: @greyish-brown;
    --replsPanel-replTab_label-active-background: @submit300;
    --replsPanel-replTab_label_error-background: @error200;
    --replsPanel-replInput-background: @black-five;
    --replsPanel-replInput-border: @disabled700;
    --compilation-background: @black-five;
    --compilation-success-font-color: @white;
    --compilation-error-font-color: @white;

    --tests-background: @black-five;
    --tests-tests_toolbar-background: @black-four;
    --tests-tests_explorer-background: @black-four;
    --tests-border: @black-two;
    //
    --tests-tests_passedTitle-font-color: @disabled500;
    --tests-tests_caption-font-color: @disabled500;
    --tests-tests_tests_explorerTitle-font-color: @disabled100;
    --tests-rc-menu-submenu-title-background: @black-two;
    --tests-rc-menu-item-active-background: @black-two;
    --tests_start-url: url("../assets/img/start-18-submit-400.svg") center no-repeat;
    --tests_start_disabled-url: url("../assets/img/Start-18-Disabled900.svg") center no-repeat;
    --tests_stop-url: url("../assets/img/stop-12-error-400.svg") center no-repeat;
    --tests_stop_disabled-url: url("../assets/img/Stop-16-Disabled900.svg") center no-repeat;
    --tests_default-url: url("../assets/img/systemdoc-16-disabled-700.svg") center no-repeat;
    --tests_progress-url: url("../assets/img/progress-16-warning.svg") center no-repeat;
    --tests_success-url: url("../assets/img/systemdoc-16-success-50.svg") center no-repeat;
    --tests_error-url: url("../assets/img/progress-16-error-400.svg") center no-repeat;

    --help-rc-collapse-item-border: @disabled700;
    --help-line-font-color: @white;
    --help-rc-collapse-header-font-color: @disabled500;
    --help-arg_body-border: @disabled500;
    --help-arg_title-color: @white;
    --help-arg_typeField-color: @black-three;
    --help-arg_link-color: @submit300;
    --help-oval-color: @disabled100;
    --help-arrowright600-url: url("../assets/img/arrowright-12-disabled-700.svg") center no-repeat;
    --help-arrowright700-url: url("../assets/img/arrowright-12-disabled-700.svg") center no-repeat;
    --help-arg_typenameFont-font-color: @white;
    --help-arg_typeItem-font-color: @white;
    --help-docFont-font-color: @disabled500;

    //md
    --md-background: @black-five;;
    --md-h1-font-color: @white;
    --md-h2-h3-h4-font-color: @white;
    --md-ul-ol-p-font-color: @disabled100;


    //scrollbar
    --scrollbar-ps__thumb-background: @disabled400;
    --scrollbar-ps__thumb-hover-background: @disabled100;

    //dialog
    --dialog-background: @black-three;
    --dialog-input-background: @disabled700;
    --dialog-border: @black-two;
    --dialog-title-font-color: @white;

    --settings-dialog-inputTimeout-border: @disabled500;
    --settings-dialog-inputTimeout-font-color: @disabled500;
    --settings-dialog-inputTimeout-disabled-background: @disabled700;
    --settings-dialog-inputTimeout-focus-border: @submit300;
    --settings-dialog-section_head-font-color: @white;
    --settings-dialog-section_item_title-font-color: @disabled500;
    --settings-dialog-inputUrl-border: @disabled500;
    --settings-dialog-inputUrl-font-color: @disabled500;
    --settings-dialog-inputUrl-disabled-background: @disabled700;
    --settings-dialog-inputUrl-focus-border: @submit300;
    --settings-dialog-section_item_warning-font-color: #eb4d4b;
    --settings-dialog-section_item_warning-label-color: @black-three;
    --settings-dialog-section_item__invalid_URL-border: @error100;
    --info-url: url("../assets/img/info-active-12-disabled-700.svg") center no-repeat;
    --info-hover-url: url("../assets/img/info-default-12-submit-300.svg") center no-repeat;
    --checkOn-url: url("../assets/img/on-20-submit-300.svg") center no-repeat;
    --checkOff-url: url("../assets/img/off-20-disabled-900.svg") center no-repeat;
    --settings-tooltip_title-font-color: @white;
    --settings-tooltip_text-font-color: @disabled500;
    --settings-tooltip_more-font-color: @submit300;

    //tooltip
    --tooltip-rc-tooltip-inner-background: @disabled700;

    //importAccounts
    --importAccounts-input-border: @disabled500;
    --importAccounts-input-font-color: @disabled500;
    --importAccounts-input-disabled-background: @disabled700;
    --importAccounts-input-focus-border: @submit300;

    //TransactionSigning
    --transactionSigning-codeEditor-background: @black-five;
    --transactionSigning-codeEditor-border: transparent;
    --transactionSigning-signing_button-border: @submit300;
    --transactionSigning-signing_button-disabled-color: @disabled500;
    --transactionSigning-signing_button-added-color: @success100;
    --transactionSigning-signing_loading-font-color: @disabled500;
    --transactionSigning-title-blue-font-color: @submit300;
    --transactionSigning-plus-url: url("../assets/img/plus-12-submit-300.svg") center no-repeat;
    --transactionSigning-check-url: url("../assets/img/check-12-success-300.svg") center no-repeat;

  }
}

.testTree-rc-tree-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--testTree-rc-tree-font-color);
}

.replTab_label-font() {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: var(--replTab_label-font-color);
}


.transactionSigning-title-blue-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--transactionSigning-title-blue-font-color);
}

.transactionSigning-signing_loading-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--transactionSigning-signing_loading-font-color);
}

.settings-tooltip_title-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--settings-tooltip_title-font-color);
}

.settings-tooltip_text-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: var(--settings-tooltip_text-font-color);
}

.settings-tooltip_more-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--settings-tooltip_more-font-color);
}


.settings-dialog-inputUrl-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--settings-dialog-inputUrl-font-color);
}

.settings-dialog-section_item_title-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: var(--settings-dialog-section_item_title-font-color);
}

.settings-dialog-section_head-font {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.13;
  color: var(--settings-dialog-section_head-font-color);
}

.settings-dialog-inputTimeout-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--settings-dialog-inputTimeout-font-color);
}

.dialog-title-font {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: var(--dialog-title-font-color);
}

.md-ul-ol-p-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--md-ul-ol-p-font-color);
}

.md-h2-h3-h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--md-h2-h3-h4-font);
}

.md-h1-font {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: var(--md-h1-font-color);
}

.help-line-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--help-line-font-color);
}

.help-arg_typenameFont-font {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: var(--help-arg_typenameFont-font-color);
}

.help-arg_typeItem-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--help-arg_typeItem-font-color);
}

.help-docFont-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: var(--help-docFont-font-color);
}

.tests-rc-menu-submenu-title-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--tests-rc-menu-submenu-title-font-color);
}

.explorer-selected-item-font {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  color: var(--explorer-selected-item-font_color)
}

.explorer-menu-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--explorer-menu-font_color);
}

.explorer-item-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--explorer-item-font_color);
}

.explorer-folder-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--explorer-folder-font_color);
}

.explorer-fileMenu-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: var(--explorer-fileMenu-font_color);

}

.tabs-tab-text-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--tabs-tab-text-font-color);
}

.tabs-active-tab-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--tabs-active-tab-font-color);
}

.tabs-hidden-tabs-btn-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: var(--tabs-hidden-tabs-btn-font-color);
}

.welcomepage-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--welcomepage-font-color);
}

.welcomepage-h0-font {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: var(--welcomepage-h0-font-color);
}

.welcomepage-h3-font {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--welcomepage-h3-font-color);
}

.welcomepage-link-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--welcomepage-link-font-color);
}

.welcomepage-smalllink-font {
  font-family: Roboto;
  font-size: 12px;
  color: var(--welcomepage-smalllink-font-color);
}

.welcomepage-text-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--welcomepage-text-font-color);
}

.mainPanelFooter-font {
  font-family: Roboto;
  font-size: 12px;
  color: var(--mainPanelFooter-font-color);
}

.mainPanelFooter-font-bold {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: var(--mainPanelFooter-font-color);
}

.button-btn-font {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: var(--button-btn-font-color);
}

.button-action-blue-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--button-action-blue-font-color);
}

.accounts-buttonSet_item-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--accounts-buttonSet_item-font-color);
}

.accounts-accountHead-nameText-font {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--accounts-accountHead-nameText-font-color);
}

.accounts-accountHead-wavesText-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: var(--accounts-accountHead-wavesText-font-color);
}

.accounts-accountHead-wavesBalance-font {
  font-family: Roboto;
  font-size: 12px;
  color: var(--accounts-accountHead-wavesBalance-font-color);
}

.accounts-accountInfo-infoItem-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accounts-accountInfo-infoItem-font-color);
}

.accounts-accountInfo-infoTitle-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: var(--accounts-accountInfo-infoTitle-font-color);
}

.accounts-accountInfo-seed-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accounts-accountInfo-seed-font-color);
}

.accounts-accountItem-itemName-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accounts-accountItem-itemName-font-color);
}

.footer-font {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: var(--footer-font-color);
}

.footer-hover-font {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: var(--footer-hover-font-color);
}

.hotkeys-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--hotkeys-font-color);
}

.hotkeys-title-font {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: var(--hotkeys-title-font-color);
}

.hotkeys-row-font {
  font-family: Roboto;
  font-size: 14px;
  color: var(--hotkeys-row-font-color);
}

.hotkeys-key-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--hotkeys-key-font-color);
}

.replsPanel-replTab_name-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--replsPanel-replTab_name-font-color);
}

.replsPanel-replTab_label-font {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: var(--replsPanel-replTab_label-font-color);
}

.replsPanel-replTab_name-font-active {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--replsPanel-replTab_name-font-active-color);
}

.replsPanel-replTab_label-font-active {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: var(--replsPanel-replTab_label-font-active-color);
}

.compilation-success-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--compilation-success-font-color);
}

.compilation-error-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--compilation-error-font-color);
}

.tests-tests_passedTitle-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--tests-tests_passedTitle-font-color);
}

.tests-tests_caption-font {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  color: var(--tests-tests_caption-font-color);
}

.tests-tests_caption-selected-font {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  color: var(--tests-tests_caption-selected-font-color);
}

.tests-tests_tests_explorerTitle-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: var(--tests-tests_tests_explorerTitle-font-color);
}

.logo {
  background: var(--logo-url);
  width: 110px;
  height: 24px;
}

.arrowdown {
  background: var(--arrowdown-url);
  width: 12px;
  height: 12px;
}

.folder {
  width: 16px;
  height: 16px;
  background: var(--folder-url)
}

.accountdoc {
  width: 16px;
  height: 16px;
  background: var(--accountdoc-url);
}

.accountdoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--accountdoc-active-in-tab-url);
}

.accountdoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--accountdoc-active-in-explorer-url);
}

.assetdoc {
  width: 16px;
  height: 16px;
  background: var(--assetdoc-url);
}

.assetdoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--assetdoc-active-in-tab-url);
}

.assetdoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--assetdoc-active-in-explorer-url);
}

.dappdoc {
  width: 16px;
  height: 16px;
  background: var(--dappdoc-url);
}

.dappdoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--dappdoc-active-in-tab-url);
}

.dappdoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--dappdoc-active-in-explorer-url);
}

.librarydoc {
  width: 16px;
  height: 16px;
  background: var(--librarydoc-url);
}

.librarydoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--librarydoc-active-in-tab-url);
}

.librarydoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--librarydoc-active-in-explorer-url);
}

.testdoc {
  width: 16px;
  height: 16px;
  background: var(--testdoc-url);
}

.testdoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--testdoc-active-in-tab-url);
}

.testdoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--testdoc-active-in-explorer-url);
}

.systemdoc {
  width: 16px;
  height: 16px;
  background: var(--systemdoc-url);
}

.systemdoc-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--systemdoc-in-explorer-url);
}

.systemdoc-active-in-tab {
  width: 16px;
  height: 16px;
  background: var(--systemdoc-active-in-tab-url);
}

.systemdoc-active-in-explorer {
  width: 16px;
  height: 16px;
  background: var(--systemdoc-active-in-explorer-url);
}

.edit {
  width: 12px;
  height: 12px;
  background: var(--edit-url);
}

.save {
  width: 12px;
  height: 12px;
  background: var(--download-url);
}

.delete {
  width: 12px;
  height: 12px;
  background: var(--delete-url);
}

.edit-white {
  width: 12px;
  height: 12px;
  background: var(--edit-white-url);
}

.save-white {
  width: 12px;
  height: 12px;
  background: var(--download-white-url);
}

.delete-white {
  width: 12px;
  height: 12px;
  background: var(--delete-white-url);
}

.add24 {
  width: 24px;
  height: 24px;
  background: var(--add24-url);

}

.add16 {
  width: 28px;
  height: 28px;
  background: var(--add16-url);

}

.download24 {
  width: 24px;
  height: 24px;
  background: var(--download24-url);

}

.sign24 {
  width: 24px;
  height: 24px;
  background: var(--sign24-url);

}

.close {
  width: 12px;
  height: 12px;
  background: var(--close-url);

}

.list {
  background: var(--list-url);
  width: 12px;
  height: 12px;
}

.share {
  background: var(--share-url);
  width: 18px;
  height: 18px;
}

.copy18 {
  background: var(--copy18-url);
  width: 18px;
  height: 18px;
}

.search {
  background: url("../assets/img/darktheme-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.font {
  background: url("../assets/img/darktheme-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.theme {
  background: url("../assets/img/darktheme-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.editorTopBar-search {
  background: var(--editorTopBar-search-url);
  width: 16px;
  height: 16px;
}

.editorTopBar-font {
  background: var(--editorTopBar-font-url);
  width: 16px;
  height: 16px;
}

.editorTopBar-theme {
  background: var(--editorTopBar-theme-url);
  width: 16px;
  height: 16px;
}

.editorTopBar-search-hover {
  background: var(--editorTopBar-search-hover-url);
  width: 16px;
  height: 16px;
}

.editorTopBar-font-hover {
  background: var(--editorTopBar-font-hover-url);
  width: 16px;
  height: 16px;
}

.editorTopBar-theme-hover {
  background: var(--editorTopBar-theme-hover-url);
  width: 16px;
  height: 16px;

}

.scripteacc {
  background: var(--scripteacc-url);
  width: 18px;
  height: 18px;
}

.login {
  background: var(--login-url);
  width: 32px;
  height: 32px;
}

.dropdownArrow {
  background: var(--dropdownArrow-url);
  width: 12px;
  height: 12px;
}

.copy12 {
  background: var(--copy12-url);
  width: 12px;
  height: 12px;
}

.on20 {
  background: var(--on20-url);
  width: 20px;
  height: 20px;
}

.off20 {
  background: var(--off20-url);
  width: 20px;
  height: 20px;
}

.settings {
  background: var(--settings-url);
  width: 24px;
  height: 24px;
}

.help-arrowright600 {
  background: var(--help-arrowright600-url);
  width: 12px;
  height: 12px;
}

.help-arrowright700 {
  background: var(--help-arrowright700-url);
  width: 12px;
  height: 12px;
}

.tests_start {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  cursor: pointer;
  flex-shrink: 0;
  background: var(--tests_start-url);
}

.tests_start_disabled {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  cursor: not-allowed;
  flex-shrink: 0;
  background: var(--tests_start_disabled-url);
}

.tests_stop {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  cursor: pointer;
  flex-shrink: 0;
  background: var(--tests_stop-url);
}

.tests_stop_disabled {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  cursor: not-allowed;
  flex-shrink: 0;
  background: var(--tests_stop_disabled-url);
}

.tests_default {
  margin-right: 8px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: var(--tests_default-url);
}

.tests_progress {
  margin-right: 8px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: var(--tests_progress-url);
}

.tests_success {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  min-width: 16px;
  min-height: 16px;
  flex-shrink: 0;
  background: var(--tests_success-url);
}

.tests_error {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  min-width: 14px;
  flex-shrink: 0;
  background: var(--tests_error-url);
}

.checkOn {
  background: var(--checkOn-url);
  width: 20px;
  height: 20px;
}

.checkOff {
  background: var(--checkOff-url);
  width: 20px;
  height: 20px;
}

.info {
  background: var(--info-url);
  width: 12px;
  height: 12px;
}

.info-hover {
  background: var(--info-hover-url);
  width: 12px;
  height: 12px;
}

.transactionSigning-check {
  background: var(--transactionSigning-check-url);
  width: 12px;
  height: 12px;
}

.transactionSigning-signing_button-font {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  color: var(--transactionSigning-signing_button-border);
}

.transactionSigning-plus {
  background: var(--transactionSigning-plus-url);
  width: 12px;
  height: 12px;
}

.testTree-codeArrow {
  width: 12px;
  height: 12px;
  background: var(--testTree-codeArrow-url);
}

.close24() {
  width: 24px;
  height: 24px;
  background: var(--close24-url);

}

.accounts-plus {
  background: url("../assets/img/plus-14-submit-400.svg") center no-repeat;
  width: 20px;
  height: 20px;
}

.resizeindicator-x {
  width: 14px;
  height: 2px;
  background: var(--resizeindicator-x-url);
}

.resizeindicator-y {
  width: 2px;
  height: 14px;
  background: var(--resizeindicator-y-url);
}
