:global .accountdoc-16-basic-600 {
  background: url("../assets/img/accountdoc-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .accountdoc-16-basic-700 {
  background: url("../assets/img/accountdoc-16-basic-700.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .accountdoc-16-submit-400 {
  background: url("../assets/img/accountdoc-16-submit-400.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .accountdoc-16-white {
  background: url("../assets/img/accountdoc-16-white.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .add-18-basic-600 {
  background: url("../assets/img/add-18-basic-600.svg") center no-repeat;
  width: 18px;
  height: 18px;
}

:global .add-18-basic-700 {
  background: url("../assets/img/add-18-basic-700.svg") center no-repeat;
  width: 18px;
  height: 18px;
}

:global .arrowdown-12-basic-700 {
  background: url("../assets/img/arrowdown-12-basic-700.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .arrowright-12-basic-700 {
  background: url("../assets/img/arrowright-12-basic-700.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .arrowup-12-basic-700 {
  background: url("../assets/img/arrowup-12-basic-700.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .assetdoc-16-basic-600 {
  background: url("../assets/img/assetdoc-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .assetdoc-16-submit-400 {
  background: url("../assets/img/assetdoc-16-submit-400.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .assetdoc-16-white {
  background: url("../assets/img/assetdoc-16-white.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .close-12-basic-600 {
  background: url("../assets/img/close-12-basic-600.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .codearrow-12-submit-400 {
  background: url("../assets/img/codearrow-12-submit-400.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .copy-12-basic-700 {
  background: url("../assets/img/copy-12-basic-700.svg") center no-repeat;
  width: 19px;
  height: 19px;
}

.darktheme-16-basic-500() {
  background: url("../assets/img/darktheme-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.darktheme-16-basic-600() {
  background: url("../assets/img/darktheme-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .delete-12-basic-600 {
  background: url("../assets/img/delete-12-basic-600.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .delete-12-white {
  background: url("../assets/img/delete-12-white.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .delete-16-basic-600 {
  background: url("../assets/img/delete-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .dropdown-12-basic-600 {
  background: url("../assets/img/dropdown-12-basic-600.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .edit-12-basic-600 {
  background: url("../assets/img/edit-12-basic-600.svg") center no-repeat;
  width: 13px;
  height: 13px;
}

:global .edit-12-white {
  background: url("../assets/img/edit-12-white.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .folder-16-basic-600 {
  background: url("../assets/img/folder-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.font-16-basic-500() {
  background: url("../assets/img/font-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.font-16-basic-600() {
  background: url("../assets/img/font-16-basic-600.svg") center no-repeat;
  width: 18px;
  height: 16px;
}

:global .list-12-basic-600 {
  background: url("../assets/img/list-12-basic-600.svg") center no-repeat;
  width: 12px;
  height: 12px;
}

:global .logo {
  background: url("../assets/img/logo.svg") center no-repeat;
  width: 146px;
  height: 146px;
}

:global .resize-x-24-basic-600 {
  background: url("../assets/img/resize-x-24-basic-600.svg") center no-repeat;
  width: 26px;
  height: 26px;
}

:global .resize-y-24-basic-600 {
  background: url("../assets/img/resize-y-24-basic-600.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

:global .resizeindicator-x-14-basic-600 {
  background: url("../assets/img/resizeindicator-x-14-basic-600.svg") center no-repeat;
  width: 14px;
  height: 14px;
}

:global .resizeindicator-y-14-basic-600 {
  background: url("../assets/img/resizeindicator-y-14-basic-600.svg") center no-repeat;
  width: 2px;
  height: 2px;
}

.search-16-basic-500() {
  background: url("../assets/img/search-16-basic-500.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.search-16-basic-600() {
  background: url("../assets/img/search-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .settings-24-basic-600 {
  background: url("../assets/img/settings-24-basic-600.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

:global .settings-24-basic-700 {
  background: url("../assets/img/settings-24-basic-700.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

:global .systemdoc-16-basic-600 {
  background: url("../assets/img/systemdoc-16-basic-600.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

:global .systemdoc-16-white {
  background: url("../assets/img/systemdoc-16-white.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

