@import (reference) "../../styles/colors";

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: @basic50;
  &-dark {
    background: var(--back); //fixme get color from styles/colors.less
  }
}

.layout_workPanel {}

.layout_replsPanel {}

.layout_footer {}
