@import (reference) "~@src/styles/globals";

.root {
  width: 100vw;
  height: 100vh;
  background-color: var(--md-background);
  display: flex;
  align-items: center;
  justify-content: center;
  .welcomepage-font();
  .iframe{
    position: fixed;
    top: -100px;
    left: -100px;
  }

}


