@import (reference) "~@src/styles/globals";

.root {
  width: 100vw;
  height: 100vh;
  background-color: var(--md-background);
  display: flex;
  align-items: center;
  justify-content: center;
  .welcomepage-font();
  .body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-action-gray-background);
    border-radius: 24px;
    width: 300px;
    height: 400px;
  }
}


