@import '~antd/dist/antd.css';

.noScroll {
    margin-top: -4px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    background-color: #fff
}

.noScroll::-webkit-scrollbar {
    width: 0;
}
