@import '~antd/dist/antd.css';


.noScroll::-webkit-scrollbar {
    width: 0;
}

.ant-menu-item-active > .toolButtons{
    color: rgb(89,89,89) !important;
    display: block;
}

.ant-menu-item-selected > .toolButtons{
    color: rgb(255,255,255) !important;
}


.toolButtons{
    display: none;
}

.ant-menu-item:hover {
    background-color: rgb(248,249,251) !important;
    color: rgb(89,89,89) !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.ant-menu-item-selected, .ant-menu-item-selected:hover {
    background-color: rgb(37,96,242) !important;
    border-right: 0 !important;
    color: rgb(255,255,255) !important;
}

.ant-layout-sider  {
     -webkit-transition: none !important;
    -o-transition: none !important;
     transition: none !important;
}