@import (reference) "../../styles/colors";
@import (reference) "../Tabs/styles";

.new-file-btn {
  flex: 0 0 64px;
  padding: 0 24px 0 24px;
  background-color: @basic50;
  display: flex;
  align-items: center;

  .circle-hover {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: @accent50;
    }
  }

  &:not(:first-child)::before{
    .inactive_border;
    left: -24px;
  }
}

