@import "../../styles/colors";
@import "../../styles/iconsMixins";
@import "../../styles/fonts";

.root {
  color: var(--tooltip-background);
}

:global {

  .rc-tooltip {
    opacity: 1 !important;

  }

  .rc-tooltip-content {
    & > .rc-tooltip-inner {
      padding: 16px 16px 12px 16px;
      width: 266px;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
      background-color: var(--tooltip-rc-tooltip-inner-background);
      opacity: unset;
    }

    & .rc-tooltip-arrow {
      border-bottom-color: var(--tooltip-rc-tooltip-arrow-background) !important;
      border-top-color: var(--tooltip-rc-tooltip-arrow-background) !important;
    }

  }

  .rc-tooltip-placement-bottomLeft, .rc-tooltip-placement-bottomRight {
    & > .rc-tooltip-content {
      & > .rc-tooltip-inner {
        border-top: solid 4px var(--tooltip-rc-tooltip-arrow-background);
      }
    }
  }

  .rc-tooltip-placement-topLeft, .rc-tooltip-placement-topRight {
    & > .rc-tooltip-content {
      & > .rc-tooltip-inner {
        border-bottom: solid 4px var(--tooltip-rc-tooltip-arrow-background);
      }
    }
  }
}
