@import (reference) "../../styles/globals";

.root {
  display: flex;
  flex: 1 1 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--replsPanel-background);
  box-shadow: 0px -4px 16px -8px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  :global {

    .rc-tabs-top .rc-tabs-tab {
      margin-right: 40px;
    }

    .rc-tabs {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: end;
      width: 100vw;
      border: none;
    }

    .rc-tabs-bar {
      display: flex;
      flex-shrink: 0;
      padding: 0 16px;
      border-bottom: 1px solid var(--replsPanel-rc-tabs-bar-border);
    }

    .rc-tabs-ink-bar {
      display: none !important;
    }

    .rc-tabs-tab {
      padding: 0;
      margin: 0;

      :local {
        .replTab {
          display: flex;
          align-items: center;
          height: 48px;
          user-select: none;
        }

        .replTab_name {
          .replsPanel-replTab_name-font();
          margin-right: 8px;
        }

        .replTab_label {
          .replsPanel-replTab_label-font();
          height: 16px;
          line-height: 16px;
          min-width: 16px;
          padding: 1px 3px;
          border-radius: 3px;
          background: var(--replsPanel-replTab_label-background);
        }
      }

      &-active,
      &:hover {
        :local {
          .replTab_name {
            .replsPanel-replTab_name-font-active();
          }

          .replTab_label {
            .caption-2whitecentr();
            background-color: var(--replsPanel-replTab_label-active-background);
          }

          .replTab_label_error {
            background-color: var(--replsPanel-replTab_label_error-background);
          }
        }
      }
    }

    .rc-tabs-tabpane {
      overflow: hidden !important;
    }

    .rc-tabs-content {
      height: calc(100% - 48px);
      transition: none;
    }
  }
}

.expander {
  position: absolute;
  top: 18px;
  right: 16px;
  height: 12px;
  width: 12px;
  z-index: 2;
  cursor: pointer;

  &:before {
    .arrowdown();
    transform: rotate(180deg);
    content: '';
    display: block;
  }

  &__isOpened {
    &:before {
      .arrowdown();
      transform: rotate(0);
    }
  }
}

.repl {
  height: 100%;

  &__compilation,
  &__test {
    :global {
      .App .Input {
        display: none;
      }
    }
  }

  :global {
    // ToDo move styles to waves-repl
    .App {
      display: flex;
      flex-direction: column;

      .react-console-container {
        flex: 1;
        overflow: auto;

        .Line {
          .output,
          .input {
            padding-left: 32px;
            padding-right: 32px;

            &:before {
              left: 16px; //TODO prompt output log иконка не отображается в Repl
            }
          }

          .LineNav {
            right: 8px;
          }
        }
      }

      .Input {
        padding-left: 16px;
        padding-right: 16px;
        background: var(--replsPanel-replInput-background);
        border-top: 1px solid var(--replsPanel-replInput-border);

        &:before {
          left: 16px;
        }
      }
    }
  }
}

