@import (reference) "../../styles/colors";

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: @basic50;
}

.layout_replsPanel {
  // display: flex;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  // // overflow: hidden;
  // box-shadow: 0px -4px 16px -8px @black;
  // z-index: 1;
}

.layout_footer {

}
