.tab {
    border: 1px solid black;
    /*min-width: 100px;*/
    max-width: 110px;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 0 0 100px;
}

.tabs {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.active-tab {
    border-bottom: 3px solid blue;
}
.tabs::-webkit-scrollbar {
    width: 0 !important;
}

