.tab {
    border: 1px solid black;
    max-width: 150px;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100px;
}

.active-tab {
    border-bottom: 3px solid blue;
}

.tab-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tabs-root {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.visible-tabs {
    display: flex;
}

.hidden-tabs-btn {
    min-width: 20px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.tabs::-webkit-scrollbar {
    width: 0 !important;
}

